.footer {
  background: url('./footer-gradient-background.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  &__container {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
  }
  &-puppy {
    width: 300px;
    height: 310px;
    background-image: url('./footer-puppy.png');
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  .contacts,
  .locations {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }
  .contacts {
    width: 278px;
    gap: 40px;
  }
  .locations {
    width: 302px;
    gap: 32px;
  }
  &__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
